/* Page content */
#main {
  /* margin-left: 230px;
  margin-right: 30px; */
  margin: 24px;
  margin-top: 150px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#customers-container {
    border-radius: 23px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	/* padding: 10px !important; */
	background-color: white;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#customers {
	margin-right: 22px;
	margin-left: 22px;
    border-collapse: collapse;
	width: auto;
}

td {
	text-align: center;
	padding-top: 14px;
	padding-bottom: 14px;
}

td, th {
	width: 9.090909090909%;
}

tr {
	border-top: 1px solid #BBBBBB;
}

tr:first-child {
	border-top: none;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
} 

.filter-container {
    padding: 12px 0 12px 0; /*Add some padding*/
    /*border: 1px solid #ddd; /* Add a grey border */
	margin-bottom: 24px; /* Add some space below the input */
	/* margin-top: 24px; */
    border-radius: 50px;
    background-color: white;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#filter {
	width: 97%; /* Full-width */
	position: relative;
	left: 1.5%;
	font-size: 16px; /* Increase font-size */
	margin-left: 0;
	border: none;
}
