body {
	background: fixed linear-gradient(to right bottom, #485DA6, #00a1ba, #32b37b);
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	font-family: 'Roboto', sans-serif !important;
}

#navbar {
	color: white;
	width: 60vw;
	left: 20vw;
	top: 55px;
	position: absolute;
}

#navbar > .navbar-title {
	float: left;
	/* font-weight: 500 !important; */
	cursor: pointer;
	/* font-size: 2em; */
}

#navbar > .navbar-title > img {
	margin-top: -15px;
	width: 150px;
	position: absolute;
}

#navbar > .navbar-links {
	float: right;
}
		
#navbar > .navbar-links > .navbar-links__link {
	display: inline-block;
	font-weight: 500 !important;
	padding-left: 20px;
	cursor: pointer;
	font-size: 2em;
}

#navbar > .navbar-links > .navbar-links__link > .navbar-links__link-text {
	margin: 0;
	font-weight: 500 !important;
	display: inline-block;
}

#navbar > .navbar-links > .navbar-links__link > .navbar-links__link-underline {
	width: 0;
	height: 5px;
	background-color: #FFFFFF;
	position: absolute;
	border-radius: 5px;
}