code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}

#content {
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 70px;
    padding-bottom: 30px;
    width: 74%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#content_container{
    width: 60vw;
    position: relative;
    left: 20vw;
    background-color: white;
    border-radius: 25px;
    margin-bottom: 24px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#main{
    padding-top: 150px;
}